/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/



html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Noto Sans', sans-serif;
  line-height: 1.2;
  box-sizing: border-box;
  //box-sizing: content-box;
  color: #fff;
}

a {
  text-decoration: none;
  outline: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
button {
  outline: none;
  border: none;
}

/* For modern browsers */
.cf:before,
.cf:after {
  content:"";
  display:block;
}

.cf:after {
  clear:both;
}

/* For IE 6/7 (trigger hasLayout) */
.cf {
  zoom:1;
}

// Override
html, body {
  overflow: hidden;
}

#container {
  width: 230px;
  height: 230px;
  background: #00f;
  border-radius: 100%;
  overflow: hidden;
}

.arBtn {
  width: 80px;
  height: 100px;
  background: #f00;
  text-align: center;
  font-size: 10px;
  line-height: 15px;
  background: url('../asset/marker.svg') center top no-repeat;
  background-size: contain;
  img {
    width: 50px;
    position: absolute;
    left: 15px;
    top: 15px;
    display: block;
  }
}
#bgImage {
  width: 330px;
  height: 330px;
  background: url('../asset/bg.svg') center right no-repeat;
  opacity: 0;
}
.cardContent {
  width: 360px;
  height: 200px;
  background: #ffffffc2;
  /* font-size: 1px; */
  text-align: right;
  //padding: 10px;

  article {
    width: 90px;
    height: 50px;
    position: absolute;

    p {
      font-size: 5px;
    }
  }
  span {
    font-size: 5px;
  }
  .company {
    img {
      width: 25px;
    }
  }
  h1, h2, span, a,
  address,
  .phone,
  .email {
    color: #666;
    line-height: 1.5;
  }

}

